@font-face{
  font-family: "Exo-Bold";
  font-weight:bold;
  src: url("assets/Exo-Bold.otf") format("opentype");
}
@font-face{
  font-family: "Exo-DemiBold";
  src: url("assets/Exo-DemiBold.otf") format("opentype");
}
@font-face{
  font-family: "Exo-ExtraLight";
  font-weight: lighter;
  src: url("assets/Exo-ExtraLight.otf") format("opentype");
}
@font-face{
  font-family: "Exo-Light";
  src: url("assets/Exo-Light.otf") format("opentype");
}
nav{
  background-color: #002951;
  color: white;
  font-family: "Exo-DemiBold", serif;
  /*font-weight: 400;*/
  text-align: center;
  font-size: 18px;
  position: fixed;
  width: 100%;
}
ul{
  list-style: none;
  padding: 15px;
}
li{
  display: inline;
  padding: 50px;
}
#banner {
  width: 100%;
  display: inline-block;
  /*height: au;*/
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  /*position: fixed;*/
}
#ael-logo {
  width:247px;
  height:156px;
  padding: 15px;
  margin-left: 100px;
  /*margin-top: -15px;*/
}
#ecolife-logo{
  width: 300px;
  height:190px;
  padding: 15px;
  margin-left: 50px;
  margin-top: 30px;
}
#splash{
  background: url("assets/bigleafsplash.jpg") no-repeat center center;
  background-size:cover;
  /*background: no-repeat;*/
  width: 100%;
  height:500px;
  display: block;

}
.divider {
  margin-top: 45px;
  width: 100%;
  height:100px;
  background-color: #94C134;
}
h1 {
  font-family: "Exo-DemiBold", serif;
  color: white;
  font-size:80px; 
  text-align: right;
  padding-top: 60px;
  padding-right: 37%;
}
h2{
  font-family: "Exo-DemiBold", serif;
  color: #002951;
  font-size: 35px;
  padding-top: 60px;
  padding-right: 37%;

  text-align: right;
}
h3{
  font-family: "Exo-DemiBold", serif;
  color: white;
  font-size: 30px;
  text-align: center;

  padding-top: 40px;
}