html, body{
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}
@font-face{
  font-family: "Exo-Bold";
  font-weight:bold;
  src: url("assets/Exo-Bold.otf") format("opentype");
}
@font-face{
  font-family: "Exo-DemiBold";
  src: url("assets/Exo-DemiBold.otf") format("opentype");
}
@font-face{
  font-family: "Exo-ExtraLight";
  font-weight: lighter;
  src: url("assets/Exo-ExtraLight.otf") format("opentype");
}
@font-face{
  font-family: "Exo-Light";
  src: url("assets/Exo-Light.otf") format("opentype");
}
.nav{
  background-color: #002951;
  color: white;
  font-family: "Exo-DemiBold", serif;
  /*font-weight: 400;*/
  text-align: center;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media screen and (max-device-width: 480px) {
  .nav{
    font-size: 12px;
  }
}



ul{
  list-style: none;
  padding: 15px;
}
li{
  display: inline;
  padding: 50px;
}
a{
  text-decoration: none;
  color: white;
}
#banner {
  width: 100%;
  display: inline-block;
  /*height: au;*/
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  /*position: fixed;*/
}
#ael-logo {
  width:247px;
  height:156px;
  padding: 15px;
  margin-left: 100px;
  /*margin-top: -15px;*/
}
#ecolife-logo{
  width: 300px;
  height:190px;
  padding: 15px;
  padding-top: 15px;
  margin-left: 50px;
  /*margin-top: 30px;*/
}
#form-link{
  /*font-family: "Exo-DemiBold", serif;*/
  width: 260px;
  height: 100px;
  position: fixed;
  right: -20px;
  top: 90px;
  background-color: #F8E71C;
  text-align: center;
  z-index:9;
  font-size: 18px;
  border-radius: 5px;
}
#splash{
  background: url("assets/bigleafsplash.jpg") no-repeat center center;
  background-size:cover;
  /*background: no-repeat;*/
  width: 100%;
  height:500px;
  display: block;

}
.divider {
  margin-top: 45px;
  width: 100%;
  height:90px;
  background-color: #94C134;
}
.form-divider {
  margin-top: 45px;
  width: 100%;
  height:90px;
  background-color: #F8E71C;
}
#divider-form-text{
  color: #002951;
}
h1 {
  font-family: "Exo-DemiBold", serif;
  color: white;
  font-size:80px; 
  text-align: right;
  padding-top: 60px;
  padding-right: 37%;
}
h2{
  font-family: "Exo-DemiBold", serif;
  color: #002951;
  font-size: 35px;
  padding-top: 60px;
  padding-right: 37%;

  text-align: right;
}
h3{
  font-family: "Exo-DemiBold", serif;
  color: white;
  font-size: 30px;
  text-align: center;

  padding-top: 30px;
}
h4{
  font-family: "Exo-DemiBold", serif;
  color: white;
  font-size: 24px;
  text-align: left;
  background-color: #293B0D;
  padding: 25px 0px 25px 30px;
  /*padding-bottom: 15px;*/

}
h6 {
  font-family: "Exo-DemiBold", serif;
  color:#002951;
  padding: 15px;

}
small{
  font-family: "Exo-Light", serif;
  font-size: 20px;
  /*margin: 15px 0px 0px 0px;*/
  padding: 0px 0px 0px 15px;
  color: #002951;
}

p{
  font-family: "Exo-DemiBold", serif;
  font-size: 22px;
  text-align: left;
  padding: 15px;
  letter-spacing: 0.6px;
  color:#002951;
}

.container{
  width: 800px;
  height: auto;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -410px;
}
.form-container{
  width: 400px;
  height: auto;
  display: inline-block;
  /*text-align: center;*/
  float: left;
  position: relative;
  left: 50%;
  margin-top: 25px;
  margin-left: -450px;
}
.contact-container{
  width: 400px;
  height: auto;
  display: inline-block;
  /*text-align: center;*/
  float: right;
  position: relative;
  margin-top: 25px;
  right: 50%;
  margin-right: -450px;
  
}
form{
  font-family:"Exo-DemiBold", serif;
  padding: 10px;
  color: #002951;
}
.button{
  margin: 20px 0px 0px 100px;
}
button{
  width:200px;
  height: 50px;
  background-color: #002951;
  font-family:"Exo-DemiBold", serif;
  color: white;
  font-size: 16px;
}
#email{
  padding-left: 2px;
  font-family:"Exo-Light", serif;
  font-size: 16px;
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
textarea{
  font-family:"Exo-Light", serif;
  font-size: 16px;
  height: 250px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.picture {
  width:380px;
  height: 250px;
  /*margin-left:50%;*/
  display: inline-block;
  padding: 5px;
}
.ind-picture {
  width:650px;
  height: 500px;
  /*margin-left:50%;*/
  display: inline-block;
  padding: 5px;
}